table.tictactoe {
	border-collapse: separate;
	border-spacing: 10px;
	margin: 0px auto 0px;
}
.tictactoe .cell{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #B6E9D5;
    border: 0;
    border-radius: 0.5em;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
.tictactoe .cell:hover {
	background-color: #CACACA;
}

.tictactoe .cell.marked {
	background-color: #B8B8B8;
}
.form-inline {

}
#overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 333px;
    height: 333px;
    margin-left: -166px;
    margin-top: -215px;
    background: #000;
    border-radius: 20px;
    opacity: 0.8;
}
#overlay-messages {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin: 0 0 0 -70px;
    padding: 0px;
    color: #fff;
}