table.tictactoe {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0px auto 0px;
}
.tictactoe .cell{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: #B6E9D5;
    border: 0;
    border-radius: 0.5em;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
.tictactoe .cell:hover {
    background-color: #CACACA;
}

.tictactoe .cell.marked {
    background-color: #B8B8B8;
}
.form-inline {

}
#gameboard {
    position: relative;
    display: inline-block;
    left: 32%;
    margin-top: 20px;

}
#gameboard .overlay {
    position: absolute;
    top: 0px;
    left: 25%;
    margin: 0px 0px 0px -25%;
    border-radius: 20px;
    background-color: #000;
    opacity: 0.8;
    height: 340px;
    width: 340px;
    text-align: center;
    padding: 40% 0;
}
#gameboard .overlay p {
    font-size: 2em;
    font-weight: bolder;
    color: #fff;    
}
.alert-danger{
    width: 300px;
    text-align: center;
    margin-left: 33.2%;
    margin: 0px;
}
.btn{
    position: fixed;
    top: 70%;
    right: 49.3%;
}